body{
background-color:#ecdcd5;
background: linear-gradient(to bottom, #ffcccc 0%, #ffff99 100%);
height:8in;
font-family: arial ;
}
hr{
border-style: none;
border-top-style: dotted;
border-width: 5px;
width:5%;
}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}
.skills{
    background-color: #ccbdbc;
}
